In [33]:
#Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

#Upload from csv
school_attendance_path = "school_attendance.csv"
school_score_path = "editme2.csv"

#Read data and results
attendance_df = pd.read_csv(school_attendance_path)
score_df = pd.read_csv(school_score_path)

score_df.head()

,FallOfYear,RptngDistrictName,ReportingDistrictCode,SchoolName,SchoolCode,SchoolOrgType,SchoolLowGrade,SchoolHighGrade,SchoolTitleIType,Category,...,SupportCategory,Distinction,DistinctionCategory,Perform,ELA_ALL_YN,Math_ALL_YN,ELA_HN_YN,Math_HN_YN,Improve,schoolyear
0,2022.0,Barkhamsted School District,"=""0050011""",District,"=""0000000""",District,District,District,NaN,DistrictTot,...,NaN,NaN,NaN,.,.,.,.,.,.,2022-23
1,2022.0,Berlin School District,"=""0070011""",District,"=""0000000""",District,District,District,NaN,DistrictTot,...,NaN,NaN,NaN,.,.,.,.,.,.,2022-23
2,2022.0,Stamford Charter School for Excellence District,"=""2960013""",District,"=""0000000""",District,District,District,NaN,DistrictTot,...,NaN,NaN,NaN,.,.,.,.,.,.,2022-23
3,2022.0,Capital Preparatory Harbor School District,"=""2970013""",District,"=""0000000""",District,District,District,NaN,DistrictTot,...,NaN,NaN,NaN,.,.,.,.,.,.,2022-23
4,2022.0,Unified School District #1,"=""3360015""",District,"=""0000000""",District,District,District,NaN,DistrictTot,...,NaN,NaN,NaN,.,.,.,.,.,.,2022-23

In [30]:
#Filter data set to columns needed
score_df.columns

Index(['FallOfYear', 'RptngDistrictName', 'ReportingDistrictCode',
       'SchoolName', 'SchoolCode', 'SchoolOrgType', 'SchoolLowGrade',
       'SchoolHighGrade', 'SchoolTitleIType', 'Category',
       ...
       'SupportCategory', 'Distinction', 'DistinctionCategory', 'Perform',
       'ELA_ALL_YN', 'Math_ALL_YN', 'ELA_HN_YN', 'Math_HN_YN', 'Improve',
       'schoolyear'],
      dtype='object', length=120)